<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	<a href="/home/userlist">User List</a> | <a href="/home/adduser">Create User</a> | <a href="/logout">Logout</a>

</body>
</html>