<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	<a href="/home/postList">Posts List</a> | <a href="/home/myPost">My Post Lists</a> | <a href="/home/createPost">Create Post</a> | <a href="/logout">Logout</a>

</body>
</html>